h1 {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.recipe {
    font-size: 30px;
    font-style: italic;
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.recipe .lasagna {
    background-color: blue;
}

.recipe .quiche {
    background-color: purple;
}

.recipe .pizza {
    background-color: blueviolet;
}