h1 {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.recipe {
    font-size: 30px;
    font-style: italic;
    width: 150px;
    height: 40px;
    box-sizing: border-box;
}

.recipe .lasagna {
    background-color: lightgreen;
    margin-bottom: 20px;
}

.recipe .quiche {
    background-color: greenyellow;
    margin-bottom: 20px;
}

.recipe .pizza {
    background-color: green;
    margin-bottom: 20px;
}