p {
    font-size: 12px;
    background-color: silver;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.recipe {
    font: 24px;
    font-style: italic;
    color: slategrey;
}